<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.goCamping.mapper.boardMapper">

	<select id="board_count" resultType="int">
		SELECT COUNT(*) FROM BOARD
	</select>
	
	<select id="board_list" resultType="boardVO" parameterType="com.goCamping.domain.Criteria">
	    <![CDATA[
	        SELECT
	            *
	        FROM
	            BOARD
	        ORDER BY bno DESC
	        LIMIT #{pageStart}, #{perPageNum}
	    ]]>
	</select>
</mapper>