<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.goCamping.mapper.boardMapper">
	<!-- 게시글 수 조회 -->
	<select id="board_count" resultType="int">
		SELECT COUNT(*) FROM BOARD
	</select>
	<!-- 전체 게시글 리스트 조회 -->
	<select id="board_list" parameterType="com.goCamping.domain.Criteria" resultType="boardVO">
	        SELECT
	            *
	        FROM
	            BOARD
	       	WHERE del_chk = 'n'
	        ORDER BY bno DESC
	        LIMIT #{pageStart}, #{perPageNum}
	</select>
	<!-- 게시글 조회 -->
	<select id="board_read" parameterType="int" resultType="boardVO">
		SELECT * FROM BOARD
		WHERE
			DEL_CHK = 'n' AND bno = #{ bno } 
	</select>
	<!-- 게시글 조회수 올리기 -->
	<update id="board_view" parameterType="int">
	<![CDATA[
		UPDATE BOARD
		SET view_cnt = view_cnt + 1
		WHERE bno = #{ bno }
	]]>
	</update>
</mapper>